{% macro form_group(name, title, validation_errors) -%}
	<div class="form-group {{ 'has-error' if validation_errors[name] }}">
	<label class="control-label" for="{{ name }}">{{ title }}</label>
{%- endmacro %}
{% macro error(name, validation_errors) -%}
	{% if validation_errors[name] %}
    	<p class="help-block">{{ validation_errors[name] }}</p>
	{% endif %}
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kentucky Creek Brewkitchen - {% block title %}Untitled{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container indented-container">
	<div class="row">
		<div class="col-md-12">
			<div id="login-info">
				{% if current_user %}
					Logged in as 
					{% if is_admin %}
						admin
					{% endif %}
					{{ current_user.email() }}.
					<a href="/logout"><img id="lock-img" src="/img/lock.png"></a>
				{% else %}
					<a href="/login"><img id="lock-img" src="/img/lock.png"></a>
				{% endif %}
			</div>
			<a href="/" id="title">Kentucky Creek Brewkitchen</a>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<img width="100%" src="/img/paris.png">
	</div>
</div>
<div class="container indented-container last-container">
	<div class="row">
		<div class="col-md-8">
			<h2>{{ self.title() }}</h2>
			{% block content %}This page was not intentionally left blank.{% endblock %}
		</div>
		<div class="col-md-4">
			{% if is_admin %}
				<div id="admin-links">
					<a href="/recipes/new">New Recipe</a>
				</div>
			{% endif %}			
			<h2>About Us</h2>
			<img src="/img/us.jpg">
			<p style="margin-top: 10px;"><i>Joel and Amanda currently reside in Charlotte, NC where they cook, brew and 
generally cause minor mayhem wherever they may be.</i></p>
		</div>
	</div>
</div>
<div class="container indented-container footer">
	<div class="row">
		<div class="col-md-4">
			<small>&copy; Copyright 2014, Joel Clark</small>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
		<h4>About the Header Image</h4>
		<p>The header photo was taken by myself at a cafe in Paris, France on September 23, 2009.  <a href="http://maps.google.com/maps?q=Hotel+Sully+Saint+Germain,+Rue+des+%C3%89coles,+Paris,+France&hl=en&ie=UTF 8&ll=48.848714,2.348145&spn=0.001055,0.001955&z=19&vpsrc=6&layer=c&cbll=48.84867,2.3483 07&panoid=7QMCodszF1tn0udIUXmLYg&cbp=12,39.48,,0,12.6">Click here</a> for a street view of the cafe.  I was staying the Hotel Sully Saint Germain across the street.</p>
		</div>
	</div>
</div>
</body>
</html>